/* Global properties (text, buttons, etc) */

h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    font-weight: bold;
    letter-spacing: 0.1em;
}

a:hover {
    opacity: .5;
}

/* Website header containing link to home and resume. */

.container-header, .name {
    padding-top: 2em;
    padding-bottom: 2em;
}

.text-logo a, .resume a {
    color: #292826;
    text-transform: uppercase;
    font-size: 25px;
    text-decoration: none;
}

.resume {
    text-align: right;
}

.text-logo-light {
    opacity: 0.5;
}

/* Row containing my name, subtitle, and portrait image. */

.personal-info {
    border-bottom: 1px solid #c0c0c0;
}

.name h1, h4 {
    color: #1261a0;
}

.name h4 {
    opacity: .5;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 1em;
    text-transform: uppercase;
}

.name p {
    padding-top: 1em;
    font-size: 18px;
}

.portrait {
    padding-top: 2em;
    padding-bottom: 2em;
}

.portrait img {
    border-radius: 50%;
    min-width: 15em;
    min-height: 15em;
    max-width: 15em;
    max-height: 15em;
}

/* Rows containing project cards. */

.portfolio {
    padding-top: 2em;
    padding-left: 0em;
    padding-right: 0em;
}

.project-link, .project-link:hover {
    text-decoration: none;
    color: #292826;
    text-transform: uppercase;
}

.project-link:hover {
    opacity: 0.5;
}

/* Footer section. */

.container-footer {
    border-top: 1px solid #c0c0c0;
    padding-top: 2em;
    padding-bottom: 2em;
}

.contact-info img {
    width: 2em;
    height: 2em;
}