{% extends "layout.html" %}

<!-- This block is wrapped within layout.html. -->
{% block content %}

<!-- The main container for the page. -->
<div class="container home-page">
    <!-- The row that contains name, subtitle, and portrait image. -->
    <div class="row personal-info">
        <div class="col name">
            <h1>Hi, I'm Dmitri</h1>
            <h4>student, software developer</h4>
            <p>
                An upcoming senior at  the Universty of Illinois, Urbana-Champaign. Currently 
                pursuing a Bachelor of Science in Statistics & Computer Science. 
            </p>
        </div>

        <div class="col portrait">
            <img class="img-fluid float-right" src="/static/images/portrait.jpg">
        </div>
    </div>

    <!-- Rows that contain project panels. -->
    <div class="row portfolio">
        <!-- Wider column. -->
        <div class="col-md-8 panel-wide panel-left d-flex align-items-stretch">
            <!-- Pong card. -->
            <a class="project-link" href="{{ url_for('pong') }}">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top" src="/static/images/pong.jpg">
        
                    <div class="card-body">
                        <h5 class="card-title text-center">Pong</h5>
                    </div>
                </div>
            </a>
        </div>

        <!-- Standard column. -->
        <div class="col-md-4 panel-standard panel-right d-flex align-items-stretch">
            <!-- Infinity Cube card. -->
            <a class="project-link" href="{{ url_for('infinity_cube') }}">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img class="card-img-top" src="/static/images/infinitycube.jpg">
        
                    <div class="card-body">
                        <h5 class="card-title text-center">Infinity Cube</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}