<!doctype html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
        crossorigin="anonymous">

        <!-- Custom CSS from 'main.css' -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- Google Robot font import. -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

        <!-- 'title' is be assigned in the render_template() for each page. -->
        <title>Dmitri Salov - {{title}}</title>
    </head>

    <body>
        <div class="container container-header">
            <div class="row">
                <div class="col text-logo">
                    <a href="{{ url_for('home') }}">
                        <span>dmitri</span><span class="text-logo-light">salov</span>
                    </a>
                </div>
                
                <div class="col resume">
                    <a href="{{ url_for('static', filename='images/resume.pdf') }}">
                        <span>resume</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Page-specific html layouts are inserted here. -->
        {% block content %}
        {% endblock %}

        <div class="container container-footer">
            <!-- Contains contact info. -->
            <div class="row">
                <div class="col contact-info text-center">
                    <img class="img-fluid" src="/static/images/icon_email.png">
                    <span>dmitrisalov98@gmail.com</span>
                </div>
            </div>

            <!-- Contains Github link. -->
            <div class="row">
                <div class="col text-logo text-center">
                    <a href="https://github.com/dmitrisalov">
                        <span>git</span><span class="text-logo-light">hub</span>
                    </a>
                </div>
            </div>

            <!-- Contains LinkedIn link. -->
            <div class="row">
                <div class="col text-logo text-center">
                    <a href="https://www.linkedin.com/in/dmitrisalov/">
                        <span>linked</span><span class="text-logo-light">in</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" 
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" 
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" 
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" 
        crossorigin="anonymous"></script>
        <!-- Custom JavaScript from 'main.js' -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>

</html>